@media (max-width: 600px) {

  .products{
    display: inherit;
    height: auto;
  }
  .product{
    margin-top: auto;
  }
  .main_section{
    padding: 4%;
  }
  /* Utiliza la misma regla para dos clases */
  /* Ver si sin la coma tambien funciona */
  .beneficios, .mentions{
    display: inherit;
  }

}
